/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Hanlding Updates
-----------------------------------------------------------------*/
div.editable {
    line-height: 1.8;
    font-size:15px;
}
#header-text{
    text-shadow: 1px 1px #333;
    font-family:'Shadows Into Light',cursive;
    
}


#header-img{
    max-width:600px;
}


.side-header #logo {
    margin: 30px 0px 30px;
}
#logo a{
   padding-bottom: 15px; 
} 

#play-button{
    width: 100%;
    height: 100%;
    position: absolute;
    background: url(//d1qmdf3vop2l07.cloudfront.net/beige-komodo1.cloudvent.net/compressed/fccd3d1a75bef6310a997d33034f0668.png) 50% 50% no-repeat;
    background-size: 40%;
    top: 0;
    left: 0;
    z-index: 1;
    border:4px solid #333
}


.side-header #header {
    border:none;
}

.heading-block {
    
    margin-top: -15px;
    margin-bottom: 30px;
}

.heading-block:after {
    display: none;
}

.heading-block h1, .heading-block h2, .heading-block h3, .heading-block h4, .emphasis-title h1, .emphasis-title h2 {
    margin-bottom: 0;
    font-weight: 700;
    text-transform: none;
    font-family: 'Shadows Into Light', cursive;
}


.heading-block h2 {
    font-size:40px;
}

body{
    font-family: 'Raleway', sans-serif;
}

.button.button-full#full-contact-button {
    background-color: #b6c9bb;
}

.button.button-full#full-contact-button i{
    color:pink;
}


.side-header #primary-menu {
    margin-bottom: 40px;
}

#footer {
    border:none;
}
#footer .footer-widgets-wrap {
    
    padding-bottom: 0px;
}

.footer-logo {
    padding-top:14px;
    max-width: 55%;
}

.portfolio-ajax-modal .container {
    width:100%;
}

#contact-form .content-wrap{
    padding: 20px 0;
}

@media (max-width: 991px){
    .side-header #header {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
        width: 260px;
        height: 100% !important;
        height: calc(100vh);
        border: none;
        overflow: hidden;
        box-shadow: 0 0 15px rgba(0,0,0,.065);
    }
    .side-header #header-wrap {
        width: 300px;
        height: 100%;
        overflow: auto;
        padding-right: 40px;
    }
    
    .side-header #header .container {
        width: 260px!important;
        padding: 0 30px!important;
        margin: 0!important;
    }
    
    .side-header #logo {
    float: none;
    margin: 60px 0 40px;
}

    .side-header #primary-menu, .side-header #primary-menu ul {
        float: none;
        height: auto;
    }
    
    .side-header.open-header #wrapper, .side-header.open-header.side-header-open #header {
        left: 0;
    }
    .side-header.open-header #header {
        left: -260px;
    }
    
    .side-header.open-header #header, .side-header.open-header #header-trigger, .side-header.open-header.push-wrapper #wrapper {
        -webkit-transition: left .4s ease;
        -o-transition: left .4s ease;
        transition: left .4s ease;
    }
    
    .side-header.open-header #header-trigger {
        display: block;
        position: fixed;
        cursor: pointer;
        top: 20px;
        left: 20px;
        z-index: 11;
        font-size: 16px;
        width: 32px;
        height: 32px;
        line-height: 32px;
        background-color: #FFF;
        text-align: center;
        border-radius: 2px;
    }
    
    .side-header.open-header.side-header-open #header-trigger {
        left: 280px;
    }
    .side-header.open-header #header-trigger i:nth-child(1), .side-header.open-header.side-header-open #header-trigger i:nth-child(2) {
        display: block;
    }
    
    .side-header.open-header #header-trigger i:nth-child(2), .side-header.open-header.side-header-open #header-trigger i:nth-child(1) {
        display: none;
    }
}
