
		<div id="home" class="page-section" style="position:absolute;top:0;left:0;width:100%;height:200px;z-index:-2;"></div>



		<!-- Slider
		============================================= -->
		<section id="slider" class="revslider-wrap full-screen clearfix">

			<div id="rev_slider_433_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="agency-website" style="background-color:#333333;padding:0px;">
				<!-- START REVOLUTION SLIDER 5.2.0 fullscreen mode -->
				<div id="rev_slider_433_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.2.0">
				<ul>	<!-- SLIDE  -->
					<li data-index="rs-1501" class="dark" data-transition="slideoverdown" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="Power3.easeInOut" data-easeout="Power3.easeInOut" data-masterspeed="1500"  data-rotate="0"  data-saveperformance="off"  data-title="Intro" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
						<!-- MAIN IMAGE -->
						<img src="/images/dummy.png" style='background-color:#f87c09 !important' alt=""  data-bgparallax="off" class="rev-slidebg" data-no-retina>
						<!-- LAYERS -->

						<!-- LAYER NR. 1 -->
						<div class="tp-caption   rs-parallaxlevel-5"
							 id="slide-1501-layer-1"
							 data-x="['center','center','center','center']" data-hoffset="['0','-30','0','0']"
							 data-y="['middle','middle','bottom','bottom']" data-voffset="['40','0','40','0']"
										data-width="none"
							data-height="none"
							data-whitespace="nowrap"
							data-transform_idle="o:1;"

							 data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1000;e:Power3.easeOut;"
							 data-transform_out="opacity:0;s:3000;e:Power4.easeIn;s:3000;e:Power4.easeIn;"
							data-start="1000"
							data-responsive_offset="off"
							data-responsive="off"

							style="z-index: 5;text-transform:left;"><img src="/images/dummy.png" alt="" width="1000" height="600" data-ww="['1000px','800px','600px','500px']" data-hh="['600px','480px','360px','300px']" data-lazyload="/images/macbookpro.png" data-no-retina> </div>

						<!-- LAYER NR. 2 -->
						<div class="tp-caption   rs-parallaxlevel-5"
							 id="slide-1501-layer-2"
							 data-x="['center','center','center','center']" data-hoffset="['0','-30','0','0']"
							 data-y="['middle','middle','bottom','bottom']" data-voffset="['26','-10','105','55']"
										data-width="none"
							data-height="none"
							data-whitespace="nowrap"
							data-transform_idle="o:1;"

							 data-transform_in="z:0;rX:0deg;rY:0;rZ:0;sX:2;sY:2;skX:0;skY:0;opacity:0;s:1000;e:Power3.easeOut;"
							 data-transform_out="opacity:0;s:3000;e:Power4.easeIn;s:3000;e:Power4.easeIn;"
							 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
							data-start="1500"
							data-responsive_offset="off"
							data-responsive="off"

							style="z-index: 6;text-transform:left;"><img src="/images/dummy.png" alt="" width="654" height="409" data-ww="['654px','524px','392','326px']" data-hh="['409px','328px','245','204px']" data-lazyload="/images/screen1_content.jpg" data-no-retina> </div>

						<!-- LAYER NR. 3 -->
						<div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme rs-parallaxlevel-3"
							 id="slide-1501-layer-3"
							 data-x="['right','right','center','center']" data-hoffset="['20','0','0','0']"
							 data-y="['middle','middle','top','top']" data-voffset="['0','0','130','120']"
										data-width="300"
							data-height="330"
							data-whitespace="nowrap"
							data-transform_idle="o:1;"

							 data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1000;e:Power3.easeInOut;"
							 data-transform_out="opacity:0;s:3000;e:Power4.easeIn;s:3000;e:Power4.easeIn;"
							 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
							data-start="1500"
							data-responsive_offset="on"


							style="z-index: 7;text-transform:left;background-color:rgba(51, 51, 51, 1.00);border-color:rgba(0, 0, 0, 0.50);"> </div>

						<!-- LAYER NR. 4 -->
						<div class="tp-caption Agency-SmallTitle   tp-resizeme rs-parallaxlevel-3"
							 id="slide-1501-layer-4"
							 data-x="['right','right','center','center']" data-hoffset="['40','20','0','0']"
							 data-y="['middle','middle','top','top']" data-voffset="['-98','-98','164','154']"
										data-width="260"
							data-height="none"
							data-whitespace="normal"
							data-transform_idle="o:1;"

							 data-transform_in="y:-50px;opacity:0;s:1000;e:Power4.easeOut;"
							 data-transform_out="opacity:0;s:3000;e:Power4.easeIn;s:3000;e:Power4.easeIn;"
							data-start="2000"
							data-splitin="none"
							data-splitout="none"
							data-responsive_offset="on"


							style="z-index: 8; min-width: 260px; max-width: 260px; white-space: normal;text-transform:left;"><span style="color:#f87c09;font-weight:700 !important;">OUR DESIGN</span>
				COLORFUL LIKE NATURE </div>

						<!-- LAYER NR. 5 -->
						<div class="tp-caption Agency-SmallContent   tp-resizeme rs-parallaxlevel-3"
							 id="slide-1501-layer-5"
							 data-x="['right','right','center','center']" data-hoffset="['40','20','0','0']"
							 data-y="['middle','middle','top','top']" data-voffset="['20','20','255','246']"
										data-width="260"
							data-height="none"
							data-whitespace="normal"
							data-transform_idle="o:1;"

							 data-transform_in="y:-50px;opacity:0;s:1000;e:Power4.easeOut;"
							 data-transform_out="opacity:0;s:3000;e:Power4.easeIn;s:3000;e:Power4.easeIn;"
							data-start="2150"
							data-splitin="none"
							data-splitout="none"
							data-responsive_offset="on"


							style="z-index: 9; min-width: 260px; max-width: 260px; white-space: normal; color: rgba(255, 255, 255, 0.35);text-transform:left;">When you come across someone colorful and vibrant maybe in the present it isn't so interesting, but, in the past, it sheds a wonderful light onto living life. </div>

						<!-- LAYER NR. 6 -->
						<a class="tp-caption Agency-SmallLink   tp-resizeme rs-parallaxlevel-3"
				 href="mailto:swag@themepunch.com" target="_self"			 id="slide-1501-layer-6"
							 data-x="['right','right','center','center']" data-hoffset="['100','80','0','0']"
							 data-y="['middle','middle','top','top']" data-voffset="['108','109','392','382']"
										data-width="none"
							data-height="none"
							data-whitespace="nowrap"
							data-transform_idle="o:1;"
								data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
								data-style_hover="c:rgba(255, 255, 255, 1.00);"

							 data-transform_in="y:-50px;opacity:0;s:1000;e:Power4.easeOut;"
							 data-transform_out="opacity:0;s:3000;e:Power4.easeIn;s:3000;e:Power4.easeIn;"
							data-start="2300"
							data-splitin="none"
							data-splitout="none"
							data-actions=''
							data-responsive_offset="on"


							style="z-index: 10; white-space: nowrap;text-transform:left;cursor:pointer;">CONTACT US HERE </a>

						<!-- LAYER NR. 7 -->
						<div class="tp-caption Agency-NavButton rev-btn  tp-resizeme rs-parallaxlevel-3"
							 id="slide-1501-layer-8"
							 data-x="['right','right','center','center']" data-hoffset="['71','51','175','175']"
							 data-y="['middle','middle','top','top']" data-voffset="['190','190','181','171']"
										data-width="50"
							data-height="50"
							data-whitespace="nowrap"
							data-transform_idle="o:1;"
								data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
								data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(51, 51, 51, 1.00);"

							 data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1000;e:Power3.easeInOut;"
							 data-transform_out="opacity:0;s:3000;e:Power4.easeIn;s:3000;e:Power4.easeIn;"
							 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
							data-start="2400"
							data-splitin="none"
							data-splitout="none"
							data-actions='[{"event":"click","action":"jumptoslide","slide":"previous","delay":""}]'
							data-responsive_offset="on"


							style="z-index: 11; min-width: 50px; max-width: 50px; max-width: 50px; max-width: 50px; white-space: nowrap; color: rgba(248, 124, 9, 1.00);text-transform:left;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;"><i class="icon-angle-left"></i> </div>

						<!-- LAYER NR. 8 -->
						<div class="tp-caption Agency-NavButton rev-btn  tp-resizeme rs-parallaxlevel-3"
							 id="slide-1501-layer-7"
							 data-x="['right','right','center','center']" data-hoffset="['20','0','175','175']"
							 data-y="['middle','middle','top','top']" data-voffset="['190','190','130','120']"
										data-width="50"
							data-height="50"
							data-whitespace="nowrap"
							data-transform_idle="o:1;"
								data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
								data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(51, 51, 51, 1.00);"

							 data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1000;e:Power3.easeInOut;"
							 data-transform_out="opacity:0;s:3000;e:Power4.easeIn;s:3000;e:Power4.easeIn;"
							 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
							data-start="2500"
							data-splitin="none"
							data-splitout="none"
							data-actions='[{"event":"click","action":"jumptoslide","slide":"next","delay":""}]'
							data-responsive_offset="on"


							style="z-index: 12; min-width: 50px; max-width: 50px; max-width: 50px; max-width: 50px; white-space: nowrap; color: rgba(248, 124, 9, 1.00);text-transform:left;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;"><i class="icon-angle-right">a</i> </div>
					</li>
					<!-- SLIDE  -->
					<li data-index="rs-1502" class="dark" data-transition="slideoverdown" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="Power3.easeInOut" data-easeout="Power3.easeInOut" data-masterspeed="1500"  data-rotate="0"  data-saveperformance="off"  data-title="Responsive" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
						<!-- MAIN IMAGE -->
						<img src="/images/dummy.png" style='background-color:#6db19b' alt="" data-bgparallax="off" class="rev-slidebg" data-no-retina>
						<!-- LAYERS -->

						<!-- LAYER NR. 1 -->
						<div class="tp-caption   rs-parallaxlevel-5"
							 id="slide-1502-layer-1"
							 data-x="['center','center','center','center']" data-hoffset="['70','20','60','20']"
							 data-y="['middle','middle','bottom','bottom']" data-voffset="['30','0','30','20']"
										data-width="none"
							data-height="none"
							data-whitespace="nowrap"
							data-transform_idle="o:1;"

							 data-transform_in="x:-50px;opacity:0;s:1000;e:Power3.easeOut;"
							 data-transform_out="opacity:0;s:3000;e:Power4.easeIn;s:3000;e:Power4.easeIn;"
							data-start="1000"
							data-responsive_offset="off"
							data-responsive="off"

							style="z-index: 5;text-transform:left;"><img src="/images/dummy.png" alt="" width="430" height="540" data-ww="['430px','430px','360px','200px']" data-hh="['540px','540px','452px','251px']" data-lazyload="/images/ipad.png" data-no-retina> </div>

						<!-- LAYER NR. 2 -->
						<div class="tp-caption   rs-parallaxlevel-5"
							 id="slide-1502-layer-2"
							 data-x="['center','center','center','center']" data-hoffset="['70','20','60','20']"
							 data-y="['middle','middle','bottom','bottom']" data-voffset="['35','5','97','56']"
										data-width="none"
							data-height="none"
							data-whitespace="nowrap"
							data-transform_idle="o:1;"

							 data-transform_in="z:0;rX:0deg;rY:0;rZ:0;sX:2;sY:2;skX:0;skY:0;opacity:0;s:1000;e:Power3.easeOut;"
							 data-transform_out="opacity:0;s:3000;e:Power4.easeIn;s:3000;e:Power4.easeIn;"
							 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
							data-start="1500"
							data-responsive_offset="off"
							data-responsive="off"

							style="z-index: 6;text-transform:left;"><img src="/images/dummy.png" alt="" width="290" height="372" data-ww="['290px','290px','242px','134px']" data-hh="['372px','372px','310px','172px']" data-lazyload="/images/owl1.jpg" data-no-retina> </div>

						<!-- LAYER NR. 3 -->
						<div class="tp-caption   rs-parallaxlevel-4"
							 id="slide-1502-layer-9"
							 data-x="['center','center','center','center']" data-hoffset="['-112','-158','-92','-57']"
							 data-y="['middle','middle','bottom','bottom']" data-voffset="['90','60','15','14']"
										data-width="none"
							data-height="none"
							data-whitespace="nowrap"
							data-transform_idle="o:1;"

							 data-transform_in="x:50px;opacity:0;s:1000;e:Power3.easeOut;"
							 data-transform_out="opacity:0;s:3000;e:Power4.easeIn;s:3000;e:Power4.easeIn;"
							data-start="1250"
							data-responsive_offset="off"
							data-responsive="off"

							style="z-index: 7;text-transform:left;"><img src="/images/dummy.png" alt="" width="260" height="450" data-ww="['260px','260px','220px','120px']" data-hh="['450px','450px','381px','208px']" data-lazyload="/images/ihpone.png" data-no-retina> </div>

						<!-- LAYER NR. 4 -->
						<div class="tp-caption   rs-parallaxlevel-4"
							 id="slide-1502-layer-10"
							 data-x="['center','center','center','center']" data-hoffset="['-111','-157','-92','-57']"
							 data-y="['middle','middle','bottom','bottom']" data-voffset="['90','60','85','51']"
										data-width="none"
							data-height="none"
							data-whitespace="nowrap"
							data-transform_idle="o:1;"

							 data-transform_in="z:0;rX:0deg;rY:0;rZ:0;sX:2;sY:2;skX:0;skY:0;opacity:0;s:1000;e:Power3.easeOut;"
							 data-transform_out="opacity:0;s:3000;e:Power4.easeIn;s:3000;e:Power4.easeIn;"
							 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
							data-start="1750"
							data-responsive_offset="off"
							data-responsive="off"

							style="z-index: 8;text-transform:left;"><img src="/images/dummy.png" alt="" width="170" height="286" data-ww="['170px','170px','144px','78px']" data-hh="['286px','286px','242px','131px']" data-lazyload="/images/owl2.jpg" data-no-retina> </div>

						<!-- LAYER NR. 5 -->
						<div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme rs-parallaxlevel-3"
							 id="slide-1502-layer-3"
							 data-x="['right','right','center','center']" data-hoffset="['20','0','0','0']"
							 data-y="['middle','middle','top','top']" data-voffset="['0','0','130','120']"
										data-width="300"
							data-height="330"
							data-whitespace="nowrap"
							data-transform_idle="o:1;"

							 data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1000;e:Power3.easeInOut;"
							 data-transform_out="opacity:0;s:3000;e:Power4.easeIn;s:3000;e:Power4.easeIn;"
							 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
							data-start="1500"
							data-responsive_offset="on"


							style="z-index: 9;text-transform:left;background-color:rgba(51, 51, 51, 1.00);border-color:rgba(0, 0, 0, 0.50);"> </div>

						<!-- LAYER NR. 6 -->
						<div class="tp-caption Agency-SmallTitle   tp-resizeme rs-parallaxlevel-3"
							 id="slide-1502-layer-4"
							 data-x="['right','right','center','center']" data-hoffset="['40','20','0','0']"
							 data-y="['middle','middle','top','top']" data-voffset="['-98','-98','164','154']"
										data-width="260"
							data-height="none"
							data-whitespace="normal"
							data-transform_idle="o:1;"

							 data-transform_in="y:-50px;opacity:0;s:1000;e:Power4.easeOut;"
							 data-transform_out="opacity:0;s:3000;e:Power4.easeIn;s:3000;e:Power4.easeIn;"
							data-start="2000"
							data-splitin="none"
							data-splitout="none"
							data-responsive_offset="on"


							style="z-index: 10; min-width: 260px; max-width: 260px; white-space: normal;text-transform:left;"><span style="color:#6db19b;font-weight:700 !important;">RESPONSIVE</span><br/>
				FOR MOBILE PERFECTION </div>

						<!-- LAYER NR. 7 -->
						<div class="tp-caption Agency-SmallContent   tp-resizeme rs-parallaxlevel-3"
							 id="slide-1502-layer-5"
							 data-x="['right','right','center','center']" data-hoffset="['40','20','0','0']"
							 data-y="['middle','middle','top','top']" data-voffset="['9','8','255','245']"
										data-width="260"
							data-height="none"
							data-whitespace="normal"
							data-transform_idle="o:1;"

							 data-transform_in="y:-50px;opacity:0;s:1000;e:Power4.easeOut;"
							 data-transform_out="opacity:0;s:3000;e:Power4.easeIn;s:3000;e:Power4.easeIn;"
							data-start="2150"
							data-splitin="none"
							data-splitout="none"
							data-responsive_offset="on"


							style="z-index: 11; min-width: 260px; max-width: 260px; white-space: normal; color: rgba(255, 255, 255, 0.35);text-transform:left;">Our Sliders don???t just look great on desktop devices, but scale down
				beautifully to work on mobile devices like smartphones or tablets. </div>

						<!-- LAYER NR. 8 -->
						<a class="tp-caption Agency-SmallLinkGreen   tp-resizeme rs-parallaxlevel-3"
				 href="mailto:swag@themepunch.com" target="_self"			 id="slide-1502-layer-6"
							 data-x="['right','right','center','center']" data-hoffset="['100','80','0','0']"
							 data-y="['middle','middle','top','top']" data-voffset="['108','109','392','382']"
										data-width="none"
							data-height="none"
							data-whitespace="nowrap"
							data-transform_idle="o:1;"
								data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
								data-style_hover="c:rgba(255, 255, 255, 1.00);"

							 data-transform_in="y:-50px;opacity:0;s:1000;e:Power4.easeOut;"
							 data-transform_out="opacity:0;s:3000;e:Power4.easeIn;s:3000;e:Power4.easeIn;"
							data-start="2300"
							data-splitin="none"
							data-splitout="none"
							data-actions=''
							data-responsive_offset="on"


							style="z-index: 12; white-space: nowrap;text-transform:left;cursor:pointer;">CONTACT US HERE </a>

						<!-- LAYER NR. 9 -->
						<div class="tp-caption Agency-NavButton rev-btn  tp-resizeme rs-parallaxlevel-3"
							 id="slide-1502-layer-8"
							 data-x="['right','right','center','center']" data-hoffset="['71','51','175','175']"
							 data-y="['middle','middle','top','top']" data-voffset="['190','190','181','171']"
										data-width="50"
							data-height="50"
							data-whitespace="nowrap"
							data-transform_idle="o:1;"
								data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
								data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(51, 51, 51, 1.00);"

							 data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1000;e:Power3.easeInOut;"
							 data-transform_out="opacity:0;s:3000;e:Power4.easeIn;s:3000;e:Power4.easeIn;"
							 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
							data-start="2400"
							data-splitin="none"
							data-splitout="none"
							data-actions='[{"event":"click","action":"jumptoslide","slide":"previous","delay":""}]'
							data-responsive_offset="on"


							style="z-index: 13; min-width: 50px; max-width: 50px; max-width: 50px; max-width: 50px; white-space: nowrap; color: rgba(109, 177, 155, 1.00);text-transform:left;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;"><i class="icon-angle-left"></i> </div>

						<!-- LAYER NR. 10 -->
						<div class="tp-caption Agency-NavButton rev-btn  tp-resizeme rs-parallaxlevel-3"
							 id="slide-1502-layer-7"
							 data-x="['right','right','center','center']" data-hoffset="['20','0','175','175']"
							 data-y="['middle','middle','top','top']" data-voffset="['190','190','130','120']"
										data-width="50"
							data-height="50"
							data-whitespace="nowrap"
							data-transform_idle="o:1;"
								data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
								data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(51, 51, 51, 1.00);"

							 data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1000;e:Power3.easeInOut;"
							 data-transform_out="opacity:0;s:3000;e:Power4.easeIn;s:3000;e:Power4.easeIn;"
							 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
							data-start="2500"
							data-splitin="none"
							data-splitout="none"
							data-actions='[{"event":"click","action":"jumptoslide","slide":"next","delay":""}]'
							data-responsive_offset="on"


							style="z-index: 14; min-width: 50px; max-width: 50px; max-width: 50px; max-width: 50px; white-space: nowrap; color: rgba(109, 177, 155, 1.00);text-transform:left;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;"><i class="icon-angle-right"></i> </div>
					</li>
					<!-- SLIDE  -->
					<li data-index="rs-1503" class="dark" data-transition="slideoverdown" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="Power3.easeInOut" data-easeout="Power3.easeInOut" data-masterspeed="1500"  data-rotate="0"  data-saveperformance="off"  data-title="Ideas" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
						<!-- MAIN IMAGE -->
						<img src="/images/dummy.png" style='background-color:#000000' alt=""  data-bgparallax="5" class="rev-slidebg" data-no-retina>
						<!-- LAYERS -->

						<!-- LAYER NR. 1 -->
						<div class="tp-caption   tp-resizeme"
							 id="slide-1503-layer-10"
							 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
							 data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
										data-width="none"
							data-height="none"
							data-whitespace="nowrap"
							data-transform_idle="o:1;"

							 data-transform_in="y:top;s:1500;e:Power3.easeInOut;"
							 data-transform_out="opacity:0;s:3000;e:Power4.easeIn;s:3000;e:Power4.easeIn;"
							data-start="0"
							data-basealign="slide"
							data-responsive_offset="on"


							style="z-index: 5;text-transform:left;"><img src="/images/dummy.png" alt="" width="1920" height="1280" data-ww="['1920px','1920px','1920px','1920px']" data-hh="['1280px','1280px','1280px','1280px']" data-lazyload="/images/light1.jpg" data-no-retina> </div>

						<!-- LAYER NR. 2 -->
						<div class="tp-caption   tp-resizeme  lighton"
							 id="slide-1503-layer-11"
							 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
							 data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
										data-width="none"
							data-height="none"
							data-whitespace="nowrap"
							data-transform_idle="o:1;"

							 data-transform_in="opacity:0;s:100;e:Power2.easeInOut;"
							 data-transform_out="opacity:0;s:100;s:100;"
							data-start="bytrigger"
							data-basealign="slide"
							data-responsive_offset="on"

							 data-end="bytrigger"
							data-lasttriggerstate="reset"
							style="z-index: 6;text-transform:left;"><img src="/images/dummy.png" alt="" width="1920" height="1280" data-ww="['1920px','1920px','1920px','1920px']" data-hh="['1280px','1280px','1280px','1280px']" data-lazyload="/images/lighton1.png" data-no-retina> </div>

						<!-- LAYER NR. 3 -->
						<div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme  lightsensor"
							 id="slide-1503-layer-14"
							 data-x="['left','left','left','left']" data-hoffset="['220','104','-26','-168']"
							 data-y="['top','top','top','top']" data-voffset="['129','77','178','51']"
										data-width="500"
							data-height="500"
							data-whitespace="nowrap"
							data-transform_idle="o:1;"

							 data-transform_in="opacity:0;s:1000;e:Power3.easeOut;"
							 data-transform_out="opacity:0;s:1000;e:Power4.easeIn;s:1000;e:Power4.easeIn;"
							data-start="0"
							data-actions='[{"event":"mouseenter","action":"startlayer","layer":"slide-1503-layer-11","delay":""},{"event":"mouseleave","action":"stoplayer","layer":"slide-1503-layer-11","delay":""},{"event":"mouseenter","action":"stoplayer","layer":"slide-1503-layer-12","delay":""},{"event":"mouseleave","action":"startlayer","layer":"slide-1503-layer-12","delay":""},{"event":"mouseenter","action":"stoplayer","layer":"slide-1503-layer-13","delay":""},{"event":"mouseleave","action":"startlayer","layer":"slide-1503-layer-13","delay":""}]'
							data-responsive_offset="on"


							style="z-index: 7;text-transform:left;background-color:rgba(0, 0, 0, 0);border-color:rgba(0, 0, 0, 0);border-radius:500px 500px 500px 500px;cursor:pointer;">
				<div class="rs-looped rs-slideloop"  data-easing="linearEaseNone" data-speed="2" data-xs="0" data-xe="0" data-ys="0" data-ye="0"> </div></div>

						<!-- LAYER NR. 4 -->
						<div class="tp-caption   tp-resizeme"
							 id="slide-1503-layer-12"
							 data-x="['left','left','left','left']" data-hoffset="['58','-43','-169','-313']"
							 data-y="['top','top','top','top']" data-voffset="['335','280','370','260']"
										data-width="none"
							data-height="none"
							data-whitespace="nowrap"
							data-visibility="['on','on','off','off']"
							data-transform_idle="o:1;"

							 data-transform_in="x:-50px;sX:0.2;sY:0.2;opacity:0;s:500;e:Back.easeOut;"
							 data-transform_out="auto:auto;s:500;e:Back.easeIn;"
							data-start="1000"
							data-responsive_offset="on"

										data-lasttriggerstate="reset"
							style="z-index: 8;text-transform:left;">
				<div class="rs-looped rs-slideloop"  data-easing="Power2.easeInOut" data-speed="1" data-xs="-20" data-xe="0" data-ys="0" data-ye="0"><img src="/images/dummy.png" alt="" width="121" height="53" data-ww="['121px','121px','121px','121px']" data-hh="['53px','53px','53px','53px']" data-lazyload="/images/arrow4.png" data-no-retina> </div></div>

						<!-- LAYER NR. 5 -->
						<div class="tp-caption   tp-resizeme"
							 id="slide-1503-layer-13"
							 data-x="['left','left','left','left']" data-hoffset="['732','618','518','380']"
							 data-y="['top','top','top','top']" data-voffset="['335','280','370','260']"
										data-width="none"
							data-height="none"
							data-whitespace="nowrap"
							data-visibility="['on','on','off','off']"
							data-transform_idle="o:1;rZ:180;"

							 data-transform_in="x:50px;sX:0.2;sY:0.2;opacity:0;s:500;e:Back.easeOut;"
							 data-transform_out="x:50px;sX:0.2;sY:0.2;opacity:0;s:500;e:Back.easeIn;s:500;e:Back.easeIn;"
							data-start="1000"
							data-responsive_offset="on"

										data-lasttriggerstate="reset"
							style="z-index: 9;text-transform:left;">
				<div class="rs-looped rs-slideloop"  data-easing="Power2.easeInOut" data-speed="1" data-xs="20" data-xe="0" data-ys="0" data-ye="0"><img src="/images/dummy.png" alt="" width="121" height="53" data-ww="['121px','121px','121px','121px']" data-hh="['53px','53px','53px','53px']" data-lazyload="/images/arrow4.png" data-no-retina> </div></div>

						<!-- LAYER NR. 6 -->
						<div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme rs-parallaxlevel-3"
							 id="slide-1503-layer-3"
							 data-x="['right','right','center','center']" data-hoffset="['20','0','0','0']"
							 data-y="['middle','middle','top','top']" data-voffset="['0','0','130','120']"
										data-width="300"
							data-height="330"
							data-whitespace="nowrap"
							data-transform_idle="o:1;"

							 data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1000;e:Power3.easeInOut;"
							 data-transform_out="opacity:0;s:3000;e:Power4.easeIn;s:3000;e:Power4.easeIn;"
							 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
							data-start="1500"
							data-responsive_offset="on"


							style="z-index: 10;text-transform:left;background-color:rgba(51, 51, 51, 1.00);border-color:rgba(0, 0, 0, 0.50);"> </div>

						<!-- LAYER NR. 7 -->
						<div class="tp-caption Agency-SmallTitle   tp-resizeme rs-parallaxlevel-3"
							 id="slide-1503-layer-4"
							 data-x="['right','right','center','center']" data-hoffset="['40','20','0','0']"
							 data-y="['middle','middle','top','top']" data-voffset="['-98','-98','164','154']"
										data-width="260"
							data-height="none"
							data-whitespace="normal"
							data-transform_idle="o:1;"

							 data-transform_in="y:-50px;opacity:0;s:1000;e:Power4.easeOut;"
							 data-transform_out="opacity:0;s:3000;e:Power4.easeIn;s:3000;e:Power4.easeIn;"
							data-start="2000"
							data-splitin="none"
							data-splitout="none"
							data-responsive_offset="on"


							style="z-index: 11; min-width: 260px; max-width: 260px; white-space: normal;text-transform:left;"><span style="color:#999;font-weight:700 !important;">SPARKING</span><br/>
				BRILLANT<br/>IDEAS </div>

						<!-- LAYER NR. 8 -->
						<div class="tp-caption Agency-SmallContent   tp-resizeme rs-parallaxlevel-3"
							 id="slide-1503-layer-5"
							 data-x="['right','right','center','center']" data-hoffset="['40','20','0','0']"
							 data-y="['middle','middle','top','top']" data-voffset="['-4','-3','255','245']"
										data-width="260"
							data-height="none"
							data-whitespace="normal"
							data-transform_idle="o:1;"

							 data-transform_in="y:-50px;opacity:0;s:1000;e:Power4.easeOut;"
							 data-transform_out="opacity:0;s:3000;e:Power4.easeIn;s:3000;e:Power4.easeIn;"
							data-start="2150"
							data-splitin="none"
							data-splitout="none"
							data-responsive_offset="on"


							style="z-index: 12; min-width: 260px; max-width: 260px; white-space: normal; color: rgba(255, 255, 255, 0.35);text-transform:left;">Simplicity is not the goal. It is the by-product of a good idea and modest expectations.
				 </div>

						<!-- LAYER NR. 9 -->
						<a class="tp-caption Agency-SmallLinkBlue   tp-resizeme rs-parallaxlevel-3"
				 href="mailto:swag@themepunch.com" target="_self"			 id="slide-1503-layer-6"
							 data-x="['right','right','center','center']" data-hoffset="['100','80','0','0']"
							 data-y="['middle','middle','top','top']" data-voffset="['108','109','392','382']"
										data-width="none"
							data-height="none"
							data-whitespace="nowrap"
							data-transform_idle="o:1;"
								data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
								data-style_hover="c:rgba(255, 255, 255, 1.00);"

							 data-transform_in="y:-50px;opacity:0;s:1000;e:Power4.easeOut;"
							 data-transform_out="opacity:0;s:3000;e:Power4.easeIn;s:3000;e:Power4.easeIn;"
							data-start="2300"
							data-splitin="none"
							data-splitout="none"
							data-actions=''
							data-responsive_offset="on"


							style="z-index: 13; white-space: nowrap;text-transform:left;cursor:pointer;">CONTACT US HERE </a>

						<!-- LAYER NR. 10 -->
						<div class="tp-caption Agency-NavButton rev-btn  tp-resizeme rs-parallaxlevel-3"
							 id="slide-1503-layer-8"
							 data-x="['right','right','center','center']" data-hoffset="['71','51','175','175']"
							 data-y="['middle','middle','top','top']" data-voffset="['190','190','181','171']"
										data-width="50"
							data-height="50"
							data-whitespace="nowrap"
							data-transform_idle="o:1;"
								data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
								data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(51, 51, 51, 1.00);"

							 data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1000;e:Power3.easeInOut;"
							 data-transform_out="opacity:0;s:3000;e:Power4.easeIn;s:3000;e:Power4.easeIn;"
							 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
							data-start="2400"
							data-splitin="none"
							data-splitout="none"
							data-actions='[{"event":"click","action":"jumptoslide","slide":"previous","delay":""}]'
							data-responsive_offset="on"


							style="z-index: 14; min-width: 50px; max-width: 50px; max-width: 50px; max-width: 50px; white-space: nowrap; color: rgba(153, 153, 153, 1.00);text-transform:left;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;"><i class="icon-angle-left"></i> </div>

						<!-- LAYER NR. 11 -->
						<div class="tp-caption Agency-NavButton rev-btn  tp-resizeme rs-parallaxlevel-3"
							 id="slide-1503-layer-7"
							 data-x="['right','right','center','center']" data-hoffset="['20','0','175','175']"
							 data-y="['middle','middle','top','top']" data-voffset="['190','190','130','120']"
										data-width="50"
							data-height="50"
							data-whitespace="nowrap"
							data-transform_idle="o:1;"
								data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
								data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(51, 51, 51, 1.00);"

							 data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1000;e:Power3.easeInOut;"
							 data-transform_out="opacity:0;s:3000;e:Power4.easeIn;s:3000;e:Power4.easeIn;"
							 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
							data-start="2500"
							data-splitin="none"
							data-splitout="none"
							data-actions='[{"event":"click","action":"jumptoslide","slide":"next","delay":""}]'
							data-responsive_offset="on"


							style="z-index: 15; min-width: 50px; max-width: 50px; max-width: 50px; max-width: 50px; white-space: nowrap; color: rgba(153, 153, 153, 1.00);text-transform:left;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;"><i class="icon-angle-right"></i> </div>
					</li>
				</ul>
				<div style="" class="tp-static-layers">

						<!-- LAYER NR. 6 -->
						<div class="tp-caption   tp-resizeme tp-static-layer"
							 id="slider-433-layer-5"
							 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
							 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['44','54','54','54']"
										data-width="none"
							data-height="none"
							data-whitespace="nowrap"
							data-visibility="['on','on','off','off']"
							data-transform_idle="o:1;"

							 data-transform_in="y:-50px;sX:0.2;sY:0.2;opacity:0;s:500;e:Back.easeOut;"
							 data-transform_out="opacity:0;s:300;s:300;"
							data-start="2000"
							data-actions='[{"event":"click","action":"scrollbelow","offset":"px"}]'
							data-basealign="slide"
							data-responsive_offset="on"

							data-startslide="0"
							data-endslide="2"

							style="z-index: 10;text-transform:left;cursor:pointer;">
							<div class="rs-looped rs-wave"  data-speed="2" data-angle="0" data-radius="1px" data-origin="50% 50%"><img src="/images/dummy.png" alt="" width="79" height="74" data-ww="['79px','79px','79px','79px']" data-hh="['74px','74px','74px','74px']" data-lazyload="/images/arrow2.png" data-no-retina> </div>
						</div>

						<!-- LAYER NR. 7 -->
						<div class="tp-caption Agency-ArrowTooltip   tp-resizeme tp-static-layer"
							 id="slider-433-layer-6"
							 data-x="['center','center','center','center']" data-hoffset="['2','2','2','2']"
							 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['20','30','30','30']"
										data-width="none"
							data-height="none"
							data-whitespace="nowrap"
							data-visibility="['on','on','off','off']"
							data-transform_idle="o:1;"

							 data-transform_in="z:0;rX:0deg;rY:0deg;rZ:0deg;sX:0.5;sY:0.5;skX:0;skY:0;opacity:0;s:1000;e:Back.easeOut;"
							 data-transform_out="opacity:0;s:300;s:300;"
							data-start="2250"
							data-splitin="none"
							data-splitout="none"
							data-basealign="slide"
							data-responsive_offset="on"

							data-startslide="0"
							data-endslide="2"

							style="z-index: 11; white-space: nowrap;text-transform:left;">
							<div class="rs-looped rs-wave"  data-speed="1.5" data-angle="0" data-radius="1px" data-origin="50% 50%">Scroll for More </div>
						</div>

						<!-- LAYER NR. 8 -->
						<div class="tp-caption   tp-resizeme tp-static-layer"
							 id="slider-433-layer-12"
							 data-x="['right','right','right','right']" data-hoffset="['85','85','85','85']"
							 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['63','73','73','73']"
										data-width="none"
							data-height="none"
							data-whitespace="nowrap"
							data-visibility="['on','on','off','off']"
							data-transform_idle="o:1;"

							 data-transform_in="x:-50px;sX:0.2;sY:0.2;opacity:0;s:500;e:Back.easeOut;"
							 data-transform_out="opacity:0;s:300;s:300;"
							data-start="3000"
							data-basealign="slide"
							data-responsive_offset="on"

							data-startslide="0"
							data-endslide="2"

							style="z-index: 12;text-transform:left;cursor:pointer;">
							<div class="rs-looped rs-wave"  data-speed="2" data-angle="0" data-radius="1px" data-origin="50% 50%"><img src="/images/dummy.png" alt="" width="149" height="49" data-ww="['149px','149px','149px','149px']" data-hh="['49px','49px','49px','49px']" data-lazyload="/images/arrow3.png" data-no-retina> </div>
						</div>

						<!-- LAYER NR. 9 -->
						<div class="tp-caption Agency-ArrowTooltip   tp-resizeme tp-static-layer"
							 id="slider-433-layer-13"
							 data-x="['right','right','right','right']" data-hoffset="['218','218','218','218']"
							 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['49','59','59','59']"
										data-width="none"
							data-height="none"
							data-whitespace="nowrap"
							data-visibility="['on','on','off','off']"
							data-transform_idle="o:1;"

							 data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.5;sY:0.5;skX:0;skY:0;opacity:0;s:1000;e:Back.easeOut;"
							 data-transform_out="opacity:0;s:300;s:300;"
							data-start="3250"
							data-splitin="none"
							data-splitout="none"
							data-basealign="slide"
							data-responsive_offset="on"

							data-startslide="0"
							data-endslide="2"

							style="z-index: 13; white-space: nowrap;text-transform:left;">
							<div class="rs-looped rs-wave"  data-speed="1.5" data-angle="0" data-radius="1px" data-origin="50% 50%">Get in Touch </div>
						</div>

						<!-- LAYER NR. 10 -->
						<a class="tp-caption Agency-SmallSocial   tp-static-layer"
				 			href="mailto:swag@themepunch.com" target="_self"			 id="slider-433-layer-9"
							 data-x="['right','right','center','center']" data-hoffset="['120','120','-50','-50']"
							 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['20','20','20','20']"
										data-width="30"
							data-height="30"
							data-whitespace="nowrap"
							data-transform_idle="o:1;"
								data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
								data-style_hover="c:rgba(51, 51, 51, 1.00);br:0px 0px 0px 0px;"

							 data-transform_in="opacity:0;s:300;e:Power2.easeInOut;"
							 data-transform_out="opacity:0;s:300;s:300;"
							data-start="500"
							data-splitin="none"
							data-splitout="none"
							data-actions=''
							data-basealign="slide"
							data-responsive_offset="off"
							data-responsive="off"
							data-startslide="0"
							data-endslide="2"

							style="z-index: 14; min-width: 30px; max-width: 30px; max-width: 30px; max-width: 30px; white-space: nowrap;text-transform:left;cursor:pointer;"><i class="icon-envelope"></i>
						</a>

						<!-- LAYER NR. 11 -->
						<a class="tp-caption Agency-SmallSocial   tp-static-layer"
							href="https://www.facebook.com/themepunchofficial" target="_blank"			 id="slider-433-layer-10"
							 data-x="['right','right','center','center']" data-hoffset="['70','70','0','0']"
							 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['20','20','19','19']"
										data-width="30"
							data-height="30"
							data-whitespace="nowrap"
							data-transform_idle="o:1;"
								data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
								data-style_hover="c:rgba(51, 51, 51, 1.00);br:0px 0px 0px 0px;"

							 data-transform_in="opacity:0;s:300;e:Power2.easeInOut;"
							 data-transform_out="opacity:0;s:300;s:300;"
							data-start="500"
							data-splitin="none"
							data-splitout="none"
							data-actions=''
							data-basealign="slide"
							data-responsive_offset="off"
							data-responsive="off"
							data-startslide="0"
							data-endslide="2"

							style="z-index: 15; min-width: 30px; max-width: 30px; max-width: 30px; max-width: 30px; white-space: nowrap; font-size: 25px;text-transform:left;cursor:pointer;"><i class="icon-facebook"></i> </a>

						<!-- LAYER NR. 12 -->
						<a class="tp-caption Agency-SmallSocial   tp-static-layer"
				 			href="https://twitter.com/themepunch" target="_blank"
				 			id="slider-433-layer-11"
							 data-x="['right','right','center','center']" data-hoffset="['20','20','50','50']"
							 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['20','20','20','20']"
										data-width="30"
							data-height="30"
							data-whitespace="nowrap"
							data-transform_idle="o:1;"
								data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
								data-style_hover="c:rgba(51, 51, 51, 1.00);br:0px 0px 0px 0px;"

							 data-transform_in="opacity:0;s:300;e:Power2.easeInOut;"
							 data-transform_out="opacity:0;s:300;s:300;"
							data-start="500"
							data-splitin="none"
							data-splitout="none"
							data-actions=''
							data-basealign="slide"
							data-responsive_offset="off"
							data-responsive="off"
							data-startslide="0"
							data-endslide="2"

							style="z-index: 16; min-width: 30px; max-width: 30px; max-width: 30px; max-width: 30px; white-space: nowrap; font-size: 25px;text-transform:left;cursor:pointer;"><i class="icon-twitter"></i> </a>
				</div>
				<div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>	</div>
			</div><!-- END REVOLUTION SLIDER -->
		</section>
<!--
		<section id="slider" class="slider-parallax full-screen with-header swiper_wrapper clearfix">

			<div class="slider-parallax-inner">

				<div class="swiper-container swiper-parent">
					<div class="swiper-wrapper">
						<div class="swiper-slide dark" style="background-image: url('https://static.pexels.com/photos/142971/pexels-photo-142971.jpeg');">
							<div class="container clearfix">
								<div class="slider-caption slider-caption-center">
									<h2 data-caption-animate="fadeInUp">Woolly Ally</h2>
									<p data-caption-animate="fadeInUp" data-caption-delay="200">Create just what you need for your Perfect Website. Choose from a wide range of Elements &amp; simply put them on our Canvas.</p>
								</div>
							</div>
						</div>
						<div class="swiper-slide dark">
							<div class="container clearfix">
								<div class="slider-caption slider-caption-center">
									<h2 data-caption-animate="fadeInUp">Beautifully Flexible</h2>
									<p data-caption-animate="fadeInUp" data-caption-delay="200">Looks beautiful &amp; ultra-sharp on Retina Screen Displays. Powerful Layout with Responsive functionality that can be adapted to any screen size.</p>
								</div>
							</div>
							<div class="video-wrap">
								<video poster="images/videos/explore.jpg" preload="auto" loop autoplay muted>
									<source src='/images/video.mp4' type='video/mp4' />
								</video>
								<div class="video-overlay" style="background-color: rgba(0,0,0,0.55);"></div>
							</div>
						</div>
						<div class="swiper-slide" style="background-image: url('https://static.pexels.com/photos/38544/imac-apple-mockup-app-38544.jpeg'); background-position: center top;">
							<div class="container clearfix">
								<div class="slider-caption">
									<h2 data-caption-animate="fadeInUp">Great Performance</h2>
									<p data-caption-animate="fadeInUp" data-caption-delay="200">You'll be surprised to see the Final Results of your Creation &amp; would crave for more.</p>
								</div>
							</div>
						</div>
					</div>
					<div id="slider-arrow-left"><i class="icon-angle-left"></i></div>
					<div id="slider-arrow-right"><i class="icon-angle-right"></i></div>
					<div id="slide-number"><div id="slide-number-current"></div><span>/</span><div id="slide-number-total"></div></div>
				</div>

			</div>

		</section>
		-->