

				<section id="section-team" class="page-section topmargin-lg">

					<div class="heading-block center">
						<h2>Our Team</h2>
						<span>People who have contributed enormously to our Company.</span>
					</div>

					<div class="container clearfix">

						<div class="col-md-6 bottommargin">

							<div class="team team-list clearfix">
								<div class="team-image">
									<img src="https://static1.squarespace.com/static/5643efa2e4b0d1606750d845/t/56684ec3a2bab88225a9442b/1449706452909/?format=300w" alt="Nick Stetina">
								</div>
								<div class="team-desc">
									<!--<div class="team-title"><h4>John Doe</h4><span>CEO</span></div>-->
									<div class="team-content editable">Nick is dedicated to creating skillful video and photo content. As a music lover, he collects vinyl and moonlights as an audio engineer. He is a craft beer enthusiast with over 1,000 different kinds of beers catalogued.</div>
									<!--<a href="#" class="social-icon si-rounded si-small si-facebook">-->
									<!--	<i class="icon-facebook"></i>-->
									<!--	<i class="icon-facebook"></i>-->
									<!--</a>-->
									<!--<a href="#" class="social-icon si-rounded si-small si-twitter">-->
									<!--	<i class="icon-twitter"></i>-->
									<!--	<i class="icon-twitter"></i>-->
									<!--</a>-->
									<!--<a href="#" class="social-icon si-rounded si-small si-gplus">-->
									<!--	<i class="icon-gplus"></i>-->
									<!--	<i class="icon-gplus"></i>-->
									<!--</a>-->
								</div>
							</div>

						</div>

						<div class="col-md-6 bottommargin">

							<div class="team team-list clearfix">
								<div class="team-image">
									<img src="https://static1.squarespace.com/static/5643efa2e4b0d1606750d845/t/56684ed9a2bab88225a94524/1449706471045/?format=300w" alt="Keenan Karich">
								</div>
								<div class="team-desc">
									<!--<div class="team-title"><h4>Nix Maxwell</h4><span>Co-Founder</span></div>-->
									<div class="team-content editable">Keenan is an experienced self taught web developer with a passion for building custom websites. Inspired by Jiro Dreams of Sushi, he recently explored the art of homemade sushi. As a basketball fanatic, Keenan plays in a few local leagues and enjoys going to Bulls games whenever he has the chance.</div>
									<!--<a href="#" class="social-icon si-rounded si-small si-forrst">-->
									<!--	<i class="icon-forrst"></i>-->
									<!--	<i class="icon-forrst"></i>-->
									<!--</a>-->
									<!--<a href="#" class="social-icon si-rounded si-small si-skype">-->
									<!--	<i class="icon-skype"></i>-->
									<!--	<i class="icon-skype"></i>-->
									<!--</a>-->
									<!--<a href="#" class="social-icon si-rounded si-small si-flickr">-->
									<!--	<i class="icon-flickr"></i>-->
									<!--	<i class="icon-flickr"></i>-->
									<!--</a>-->
								</div>
							</div>

						</div>

						<div class="clear"></div>

						<div class="fancy-title title-border title-center topmargin-sm">
							<h4>Skills we are Perfect in</h4>
						</div>

						<div class="col_one_fourth nobottommargin center">
							<div class="rounded-skill" data-color="#D01C1C" data-size="150" data-percent="90" data-width="2" data-animate="3000">
								<div class="counter counter-inherit"><span data-from="1" data-to="90" data-refresh-interval="50" data-speed="3000"></span>%</div>
							</div>
							<h5>HTML5</h5>
						</div>

						<div class="col_one_fourth nobottommargin center">
							<div class="rounded-skill" data-color="#1770A4" data-size="150" data-percent="75" data-width="2" data-animate="3000">
								<div class="counter counter-inherit"><span data-from="1" data-to="75" data-refresh-interval="50" data-speed="3000"></span>%</div>
							</div>
							<h5>CSS3</h5>
						</div>

						<div class="col_one_fourth nobottommargin center">
							<div class="rounded-skill" data-color="#6A89AA" data-size="150" data-percent="85" data-width="2" data-animate="3000">
								<div class="counter counter-inherit"><span data-from="1" data-to="85" data-refresh-interval="50" data-speed="3000"></span>%</div>
							</div>
							<h5>PHP</h5>
						</div>

						<div class="col_one_fourth nobottommargin center col_last">
							<div class="rounded-skill" data-color="#248673" data-size="150" data-percent="80" data-width="2" data-animate="3000">
								<div class="counter counter-inherit"><span data-from="1" data-to="80" data-refresh-interval="50" data-speed="3000"></span>%</div>
							</div>
							<h5>jQuery</h5>
						</div>

					</div>

					<div class="section parallax" style="background-image: url('images/parallax/3.jpg'); padding: 100px 0;" data-stellar-background-ratio="0.3">
						<div class="heading-block center nobottomborder nobottommargin">
							<h2>"Everything is designed, but some things are designed well."</h2>
						</div>
					</div>

				</section>
