---
layout: default
---
		<section id="content">

			<div class="">

				<!--Meet the midwives-->
				<div class="section nobg notopmargin noborder bottommargin-sm">
					<div class="container clearfix">
                        <div class="fancy-title title-border">
						<h3>Meet the Midwives</h3>
					</div>
					<div class="row">
                        {% for midwife in site.midwives %}  
                        
                        {% endfor %}
						<div class="col-md-6 bottommargin">

							<div class="team team-list clearfix">
								<div class="team-image">
									<img src="http://canvashtml-cdn.semicolonweb.com/images/team/3.jpg" alt="John Doe">
								</div>
								<div class="team-desc">
									<div class="team-title"><h4>John Doe</h4><span>CEO</span></div>
									<div class="team-content">
										<p>Carbon emissions reductions giving, legitimize amplify non-partisan Aga Khan. Policy dialogue assessment expert free-speech cornerstone disruptor freedom. Cesar Chavez empower.</p>
									</div>
									<a href="#" class="social-icon si-rounded si-small si-facebook">
										<i class="icon-facebook"></i>
										<i class="icon-facebook"></i>
									</a>
									<a href="#" class="social-icon si-rounded si-small si-twitter">
										<i class="icon-twitter"></i>
										<i class="icon-twitter"></i>
									</a>
									<a href="#" class="social-icon si-rounded si-small si-gplus">
										<i class="icon-gplus"></i>
										<i class="icon-gplus"></i>
									</a>
								</div>
							</div>

						</div>

						<div class="col-md-6 bottommargin">

							<div class="team team-list clearfix">
								<div class="team-image">
									<img src="http://canvashtml-cdn.semicolonweb.com/images/team/4.jpg" alt="Nix Maxwell">
								</div>
								<div class="team-desc">
									<div class="team-title"><h4>Nix Maxwell</h4><span>Support</span></div>
									<div class="team-content">
										<p>Eradicate invest honesty human rights accessibility theory of social change. Diversity experience in the field compassion, inspire breakthroughs planned giving.</p>
									</div>
									<a href="#" class="social-icon si-rounded si-small si-forrst">
										<i class="icon-forrst"></i>
										<i class="icon-forrst"></i>
									</a>
									<a href="#" class="social-icon si-rounded si-small si-skype">
										<i class="icon-skype"></i>
										<i class="icon-skype"></i>
									</a>
									<a href="#" class="social-icon si-rounded si-small si-flickr">
										<i class="icon-flickr"></i>
										<i class="icon-flickr"></i>
									</a>
								</div>
							</div>

						</div>

					</div>
						<div class=" nobottommargin">

							<div class="heading-block">

								<h2 class="editable">Meet the Midwives</h2>
								<!--<span>Duis mollis, est non commodo luctus. Donec sed odio dui</span>-->

							</div>
							
							
                    
     <!--   		    {% for midwife in site.midwives %}          -->
					<!--<div class="col_one_third nobottommargin">-->
					<!--	<div class="feature-box media-box">-->
					<!--		<div class="fbox-media">-->
					<!--			<img class="img-rounded imagescale" src="{{ midwife.profile_image_path }}" alt="{{midwife.title}}?" />-->
					<!--		</div>-->
					<!--		<div class="fbox-desc">-->
					<!--			<h3>{{ midwife.content_title }} -->
								<!--<span class="subtitle">Because we are Reliable.</span>-->
					<!--			</h3>-->
					<!--			<p class="editable">1024 North Blvd, Suite #208<br />Oak Park, IL 60301 </p>-->
									
									
					<!--		<a href="/midwives/hillary.html" data-lightbox="ajax">View more</a>-->
							
					<!--		</div>-->
					<!--	</div>-->
					<!--</div>-->
     <!--           {% endfor %}-->


						</div>

					</div>
				</div>
				<!--Meet the midwives-->
				
			
			</div>

		</section>
		<!-- #content end -->