---
layout: default
---
		<section id="content">

				<!--Meet the midwives-->
				<div class="section nobg notopmargin noborder bottommargin-sm">
					<div class="container clearfix">
                        <div class="fancy-title title-border">
    						<h3>Meet the Midwives</h3>
    					</div>
					    <div class="row">
                        {% for midwife in site.midwives %} 
						<div class="col-md-6 bottommargin">

							<div class="team team-list clearfix">
								<div class="team-image">
									<img src="{{ midwife.profile_image_path }}" alt="{{ midwife.title }}">
								</div>
								<div class="team-desc">
									<div class="team-title"><h4>{{midwife.title}}</h4><span>{{midwife.sub_title}}</span></div>
									<div class="team-content">
										<p>{{midwife.mini_bio}}</p>
									</div>
									<a href="{{midwife.url}}" data-lightbox="ajax">View more</a>
								</div>
							</div>

						</div> 
                        
                        {% endfor %}

					</div>
						<div class=" nobottommargin">

							<!--<div class="heading-block">-->

							<!--	<h2 class="editable">Meet the Midwives</h2>-->
								<!--<span>Duis mollis, est non commodo luctus. Donec sed odio dui</span>-->

							<!--</div>-->
							
							
                    
     <!--   		    {% for midwife in site.midwives %}          -->
					<!--<div class="col_one_third nobottommargin">-->
					<!--	<div class="feature-box media-box">-->
					<!--		<div class="fbox-media">-->
					<!--			<img class="img-rounded imagescale" src="{{ midwife.profile_image_path }}" alt="{{midwife.title}}?" />-->
					<!--		</div>-->
					<!--		<div class="fbox-desc">-->
					<!--			<h3>{{ midwife.content_title }} -->
								<!--<span class="subtitle">Because we are Reliable.</span>-->
					<!--			</h3>-->
					<!--			<p class="editable">1024 North Blvd, Suite #208<br />Oak Park, IL 60301 </p>-->
									
									
					<!--		<a href="/midwives/hillary.html" data-lightbox="ajax">View more</a>-->
							
					<!--		</div>-->
					<!--	</div>-->
					<!--</div>-->
     <!--           {% endfor %}-->


						</div>

					</div>
				<!--Meet the midwives-->
				
			
			</div>

		</section>
		<!-- #content end -->