<section id="content" class="portfolio-ajax-modal" >
    
    		
    		<div class="section nobg notopmargin noborder bottommargin-sm">
    			<div class="clearfix">
    
    				<div class=" nobottommargin">
                        
						<div class="heading-block">
                            
                            <div class="fancy-title title-bottom-border">
        						<h1>Title with <span>colored</span> bottom-border</h1>
        					</div>
							<h2>{{page.content_title}}</h2>
							<!--<span>Duis mollis, est non commodo luctus. Donec sed odio dui</span>-->

						</div>
    				    <p>{{page.content}}</p>
    
    				</div>
    
    			</div>
    		</div>
    
    </section>