<div class="portfolio-ajax-modal ">
</div>

<section id="content" class="portfolio-ajax-modal">

			<div class="">

				<!--Meet the midwives-->
				<div class="section nobg notopmargin noborder bottommargin-sm">
					<div class="container clearfix">

						<div class=" nobottommargin">

							<div class="heading-block">

								<h2 class="editable">
    {{page.title}} {{page.content}} </h2>
								<!--<span>Duis mollis, est non commodo luctus. Donec sed odio dui</span>-->

							</div>


						</div>

					</div>
				</div>
				<!--Meet the midwives-->
				
			
			</div>

		</section>